# exclude everything except directory foo/bar
#    /*
#    !/foo
#    /foo/*
#    !/foo/bar
#
#python cache
/**/__pycache__
/java_src/**/*.class
#
#ply PLY yacc output
/**/parsetab.py
/**/parser.out
#
#mypy - static typing information
/**/.mypy_cache

