# exclude everything except directory foo/bar
#    /*
#    !/foo
#    /foo/*
#    !/foo/bar
#
#
#vim tmp file: .xxx.txt.swp .*.swo ...
/**/.*
#git
!/.git
!/.gitignore
#python cache
/**/__pycache__
/java_src/**/*.class
#
#ply PLY yacc output
/**/parsetab.py
/**/parser.out
#
#mypy - static typing information
/**/.mypy_cache

#clang output
/script/cpp/**/*.out
/script/cpp/**/*.o
/script/cpp/**/*.gch

#external
/**/_ignore__unzip
/**/_ignore__build

#internal tmp output
#   view ../../python3_src/seed/recognize/xml/Visitor4ParseResult4XML.py
#   ../../python3_src/nn_ns/CJK/unicode/ucd_unihan/xml/_ignore__tmp/ver14_0_0/
/**/_ignore__tmp


